.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 800px;
    height: 150px;
    background-color: #C7C5F4;
    border-radius: 20px;
    margin: 15px;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartButton{
    width: 75px;
}