.scrollableContainer {
    font-family: sans-serif;
    text-align: center;
    width: 850px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 850px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    width: 12.5rem;
    height: 12.5rem;
    background-color: aquamarine;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-shrink: 0;
}

.item:not(:last-child) {
    margin-bottom: 1em;
}