@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.layout {
    background-color: #5D54A4;
    width: 1920px;
    max-width: 1897px;
    height: 88px;
    text-align: left;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    top: 0;
    position: sticky;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 8px 24px 0px #00000080;
}

.title {
    font-size: 30px;
    margin-left: 24px;
    width: 300px;
    height: 40px;
    cursor: text;
    text-wrap: nowrap;
}

.element {
    font-size: 24;
    color: #4C489D;
}

.admin {
    grid-column-start: 3;
}

.linkContainer {
    display: grid;
    grid-template: 100% / 10% 2% 15% 1fr;
    width: 100%;
    height: 46px;
}

.linkLayout {
    background: #fff;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px #5C5696;
    text-decoration: none;
    cursor: pointer;
}

.cartContainer {
    grid-column-start: 4;
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.cart {
    height: 50%;
    width: 120px;
    position: relative;
    color: #4C489D;
    font-weight: 700;
}

.cartCount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #C7C5F4;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    color: #4C489D;
    text-align: center;
}