@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/png/error_image.png");
    height: 100svh;
    color:#a569dd73;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    height: 100svh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.errorCode{
    font-size: 670px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 95svh;
}

.description{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 5svh;
}